<div class="container">
  <div class="container-search">
    <div class="box-search">
      <label for="search" class="label-input">Search user</label>
      <input type="text" placeholder="Search by name" [(ngModel)]="searchText" (input)="onInputChange()" name="search" class="search-input">
    </div>
  </div>
  <div class="box-list-users">
    @if(usersFiltered().length > 0 && !isLoading()){
      <ng-container *ngFor="let user of usersFiltered()">
       <div class="user-information">
          <div class="initial-letter">{{firstLetter(user.name)}}</div>
          <div class="box-informations">
            <h1 class="name">{{user.name}}</h1>
            <span class="email">{{user.email}}</span>
          </div>
        </div>
      </ng-container>
    }
    @else{
      @if(isLoading()){
        <div class="box-skeleton">
          <app-skeleton></app-skeleton>
        </div>
      }

      @if(usersFiltered().length === 0) {
        <h1 class="feedback-message">No users found</h1>
      }
    }
  </div>
</div>
